SBIMF_ESOA/SBIMF_ESOA_DAL/Service References/SBIMFSERVICE/SBIMFSERVICE7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SBIMF_SERVICES.OTP.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SBIMF_SERVICES.OTP.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GenerateOTPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOTPAlreadyExists" type="xs:boolean" />
      <xs:element minOccurs="0" name="OTPId" type="xs:int" />
      <xs:element minOccurs="0" name="SendResponse" nillable="true" type="tns:SendOTPResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateOTPResponse" nillable="true" type="tns:GenerateOTPResponse" />
  <xs:complexType name="SendOTPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailureCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FailureMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Send" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendOTPResponse" nillable="true" type="tns:SendOTPResponse" />
</xs:schema>