SBIMF_ESOA/SBIMF_ESOA_DAL/Service References/SBIMFSERVICE/SBIMFSERVICE1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SBIMF_SERVICES" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SBIMF_SERVICES" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCartPaymentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartPaymentDetails" nillable="true" type="tns:CartPaymentDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartPaymentDetails" nillable="true" type="tns:ArrayOfCartPaymentDetails" />
  <xs:complexType name="CartPaymentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundCategories" nillable="true" type="tns:ArrayOfFundCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartPaymentDetails" nillable="true" type="tns:CartPaymentDetails" />
  <xs:complexType name="ArrayOfFundCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FundCategory" nillable="true" type="tns:FundCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFundCategory" nillable="true" type="tns:ArrayOfFundCategory" />
  <xs:complexType name="FundCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="FundCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentModeIds" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FundCategory" nillable="true" type="tns:FundCategory" />
</xs:schema>